@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.skillSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height: 100vh !important;
  justify-content: space-between;
}

.mainContainer {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media(max-width: 850px){
    .mainContainer{
        max-width: 80%;
    }
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:450px){
    .mainContainer{
        max-width: 99%;
    }
    .navContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}
.prevButton {
  color: #9f9f9f;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.2px;
  display: flex;
  align-items: center;
  gap: 4px;
}
.prevButton span {
  font-size: 22px;
}
.nextButton {
  border-radius: 40px;
  background: #9f9f9f;
  color: #ffff;
  color: #fff;

  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  padding: 16px 24px;
}
.headingContainer h1 {
  text-align: center;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 47.88px;
  letter-spacing: 0.2px;
}
.headingContainer p {
  text-align: center;
  margin-top: 20px;
  color: #9f9f9f;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  line-height: 29px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.input {
  width: 100% !important;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: #808080;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25.5px;
  background: #fff;
  padding: 8px 12px;
}
.selectedSkills{
  min-height: 26px;
  width:100%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.selected{
  padding: 4px 8px; 
  font-size: 14px;
  border-radius: 20px;
  background: #d0d2dc; 
  color: black;
  border: 1px solid #ccc;
  cursor: pointer;
}
.skills h1 {
  margin-top: 20px;
  color: #000;
  font-family:'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21.6px;
}
.skills h1 span {
  font-weight: 800;
}
.skillSet {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 20px;
}
.skill {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  border-radius: 50px;
  border: 1px solid #9f9f9f;
  padding: 8px 12px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.14px;
  cursor: pointer;
}
.checked{
  color: white;
  background-color: #9f9f9f;
}
.continue{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.continueSpan{
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}
.progress{
  margin-top: 40px;
  width:70%;
  height: 15px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #D9D9D9;
  align-self: center;

}
.progressBar{
  background-color: #4A40EE;
  border-radius: 50px;
  height: 100%;
}
.error{
  color: red;
  font: 14px;
  font-weight: bold;
}
